p {font-family: sans-serif;}

img {
    max-width: 100%;
}

.r {
    border-radius: 42px;
    overflow: hidden;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.c {
    text-align: center;
}